body{
    max-width: 960px;
    color:#3a3a3a;
    background-color: #e3e3e3;
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 20px;
}
a{
    color: #3a3a3a
}
h1, h2, h3, h4, h5{
    margin: 0px;
}
.main{
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
}
.title{
    color:#ffffff;
    background-color: #89bdd3;
    padding: 20px;
}
.title h2{
    font-style: italic;
}
nav{
    background-color: #9ad3de;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #3a3a3a;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #3a3a3a;
}
nav a{
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    display: inline;
}

/* mouse over link */
nav a:hover {
    text-decoration: underline;
}
section{
    float: left;
    padding: 20px;
    max-width: 60%;
}
.articleheader{
    text-align: center;
    margin-bottom: 20px;
}
.articlefooter{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #3a3a3a;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #3a3a3a;
    text-align: center;
}
img{
    border: 3px solid #3a3a3a;
    border-radius: 50%;
    padding: 5px;
}
aside{
    max-width: 30%;
    float: right;
    padding-top: 20px;
    border: 1px solid #3a3a3a;
    padding: 10px;
    margin: 20px;
}
aside li{
    margin-top: 5px;
    margin-bottom: 5px;
}



.clear{
    clear:both;
}